/*
   TYPOGRAPHY.SCSS
   - All font declarations and mixins
   ========================================================================== */

@font-face {
  font-family: 'Google Sans';
  src: url('/fonts/GoogleSans-Medium.woff2') format('woff2'),
    url('/fonts/GoogleSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans';
  src: url('/fonts/GoogleSans-Regular.woff2') format('woff2'),
    url('/fonts/GoogleSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans';
  src: url('/fonts/GoogleSans-Bold.woff2') format('woff2'),
    url('/fonts/GoogleSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


@mixin googlesans(){
  font-family: 'Google Sans', sans-serif;
}

html, body{
  @include googlesans();
  color:$gray;
}

a{
  text-decoration:none;
  color:inherit;
}

em{
  font-style:normal;
  font-weight:bold;
}
